@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2><i class="fa fa-flag"></i> Country</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam nulla, vestibulum eu ipsum at, elementum ultrices mauris. Vestibulum sit amet lorem ut erat pellentesque varius. Suspendisse maximus ipsum vel dolor congue, a molestie est feugiat. In mattis lectus orci, et euismod dui dictum ac.</p>
        @Html.ActionLink("Look at countries...", "All", "Country", null)
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-home"></i> City</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam nulla, vestibulum eu ipsum at, elementum ultrices mauris. Vestibulum sit amet lorem ut erat pellentesque varius. Suspendisse maximus ipsum vel dolor congue, a molestie est feugiat. In mattis lectus orci, et euismod dui dictum ac.</p>
        @Html.ActionLink("Look at cities...", "All", "City", null)
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-users"></i> Buyer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam nulla, vestibulum eu ipsum at, elementum ultrices mauris. Vestibulum sit amet lorem ut erat pellentesque varius. Suspendisse maximus ipsum vel dolor congue, a molestie est feugiat. In mattis lectus orci, et euismod dui dictum ac.</p>
        @Html.ActionLink("Look at buyers...", "All", "Buyer", null)
    </div>
</div>